[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
bs4 = "*"
fastapi = {extras = ["all"], version = "*"}
lxml = "*"
psycopg2-binary = "*"
pytz = "*"
requests = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"
jedi = "*"
mypy = "*"
pdbpp = "*"
sqlalchemy-stubs = "*"
pipenv-setup = "*"
vistir = "==0.6.1"

[requires]
python_version = "3.11"
