[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
iso3166 = "*"

[dev-packages]
pdbpp = "*"
ipython = "*"

[requires]
python_version = "3.9"
