[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
lxml = "*"
sqlalchemy = "*"
fastapi = "*"
psycopg2 = "*"
pytz = "*"
alembic = "*"
pipenv-setup = "*"

[dev-packages]
pdbpp = "*"
ipython = "*"
black = "*"
flake8 = "*"
mypy = "*"
jedi = "==0.17.2"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
